/* Custom styles */
.card-body {
    -webkit-box-shadow: 10px 11px 9px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 11px 9px -2px rgba(0,0,0,0.25);
    box-shadow: 10px 11px 9px -2px rgba(0,0,0,0.25);
}

.col {
    margin: 10px;
}

img#logo {
    height: 75px;
}

img#logo:hover {
    opacity: 0.5;
}
